{% extends "auctions/layout.html" %}

{% block body %}


<div class="container">

    {% if user.is_authenticated %}

        {% if request.user == auction.posted_by %} 

            <div class="row">
            <div class="col-12">

                <form action="{% url 'oferta' auction.id %}" method="post">

                    {% csrf_token %}
            
                    <div id="formCloseAuction">
                    <input type="hidden" name="form_type" value="close">
                    <input type="submit" class="closeauction" value="Close Auction">
                    </div>
            
                    </form>
                
            </div>
            </div>

        {% else %}


            <div class="row rowauction">
            <div class="col-12">
                NO DUEÑO
            </div>
            </div>

        {% endif %}

    <div class="row rowauction">
        <div class="col-4">
        <h5> Seeing: </h5> <h6>{{ auction.title }}</h6>
        </div>

        <div class="col-2">
            <h5> Posted By: </h5> <h6>{{ auction.posted_by }}</h6>
            </div>

        <div class="col-3">
            <h5> Category: {{ auction.category }}</h5>
            <h6> <i>created {{ auction.posted_date }} </i> </h6>    
        </div>    
        
        <div class="col-3">
            <h5> Current price: USD {{ auction.maxim_bid }}</h5>
            <h6> <i>Starting bid: USD {{ auction.starting_bid }} </i> </h6>    
        </div>  
        
    </div>

    <div class="row rowauction">
        <div class="col-12" style="border-bottom: 4px solid whitesmoke;">
        </div>
    </div>

        {% if auction.condition == 'active' %}

            <div class="row rowauction">

            <div class="col-6">

                {% if request.user in auction.followed_by.all %} 
                    <center>

                    <form action="{% url 'oferta' auction.id %}" method="post">

                    {% csrf_token %}
            
                    <div id="formRemoveAdd">
                    <input type="hidden" name="form_type" value="remove">
                    <input type="submit" class="watchlist" value="Remove from Watchlist">
                    </div>
            
                    </form>

                    </center>

                {% else %}

                    <center>

                    <form action="{% url 'oferta' auction.id %}" method="post">

                    {% csrf_token %}
            
                    <div id="formRemoveAdd">
                    <input type="hidden" name="form_type" value="add">
                    <input type="submit" class= "watchlist" value="Add to Watchlist">
                    </div>
            
                    </form>

                    </center>

                {% endif %}

            </div>

            <div class="col-6">

            <form action="{% url 'oferta' auction.id %}" method="post">

                {% csrf_token %}
            
                <div id="formbid">
                <h6>Send a bid:</h6> 
                {{ formbid }} 
                <input type="hidden" name="form_type" value="bid">
                <input type="submit" class= "watchlist" value="Submit">
                </div>
            
            </form>

            </div>     
        
        </div>

        {% endif %}

    {% endif %}

    {% if user.is_authenticated %}

    <div class="row rowauction">
        <div class="col-3">
            <center>
            {% if auction.image_url %}

                <img src="{{ auction.image_url }}" />
                       
            {% else %}

            <img src="/static/auctions/noimage.png" />
            
            {% endif %}

            </center>
        </div>

        <div class="col-3">
           <h6 id="description"> {{ auction.description }} </h6>
        </div>

        <div class="col-6" id="bidhistory">
            <center>
            <table class="table table-sm" style="width:80%">

                <thead>
                    <tr>
                        <th>Offeror</th>
                        <th>Bid</th>
                        <th>Date</th>
                    </tr>
                </thead>

                <tbody>

                {% for bidh in bidhistory %} 
                <tr>
                    <td> {{ bidh.offeror }} </td><td> {{ bidh.bid }} </td> <td> {{bidh.posted_date}}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </center>
        </div>
    </div>

    {% else %}

    <div class="row rowauction">

        <div class="col-6">
            <center>
            {% if auction.image_url %}

                <img src="{{ auction.image_url }}" />
                       
            {% else %}

            <img src="/static/auctions/noimage.png" />
            
            {% endif %}

            </center>
        </div>

        <div class="col-6">
           <h6 id="description"> {{ auction.description }} </h6>
        </div>

    </div>

    {% endif %}

    <div class="row rowauction">
        <div class="col-12" style="border-bottom: 4px solid whitesmoke;">
        </div>
    </div>


    {% if user.is_authenticated %}

    <div class="row rowauction">

        <div class="col-12">

        <form action="{% url 'oferta' auction.id %}" method="post">

        {% csrf_token %}
    
        <div id="formcomments">
        <h6>Write a comment:</h6> 
        {{ formcomments }} 
        <input type="hidden" name="form_type" value="comment">
        <input type="submit" class= "watchlist" value="Submit">
        </div>
    
        </form>

        </div>
     </div>

    {% endif %}

    <div class="row rowauction">

        <div class="col-12">
            <center>
            <table class="table table-sm" style="width:80%">

                <thead>
                    <tr>
                        <th>User</th>
                        <th>Comment</th>
                        <th>Date</th>
                    </tr>
                </thead>

                <tbody>

                {% for comment in commenthistory %} 
                <tr>
                    <td> {{ comment.said_by }} </td><td> {{ comment.comment }} </td> <td> {{comment.posted_date}}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </center>

        </div>

    </div>

</div>



{% endblock %}