{% extends "auctions/layout.html" %}

{% block body %}


<div class="container">

    <div class="row rowauction">
        <div class="col-4">
        <h5> Seeing: </h5> <h6>{{ auction.title }}</h6>
        </div>

        <div class="col-2">
            <h5> Posted By: </h5> <h6>{{ auction.posted_by }}</h6>
            </div>

        <div class="col-3">
            <h5> Category: {{ auction.category }}</h5>
            <h6> <i>created {{ auction.posted_date }} </i> </h6>    
        </div>    
        
        <div class="col-3">
            <h5> Current price: USD {{ auction.maxim_bid }}</h5>
            <h6> <i>Starting bid: USD {{ auction.starting_bid }} </i> </h6>    
        </div>  
        
    </div>

    {% if user.is_authenticated %}

    <div class="row rowauction">

        <div class="col-6">

            {% if request.user in auction.followed_by.all %} 
            <center>

            <form action="{% url 'oferta' auction.id %}" method="post">

                {% csrf_token %}
            
                <div id="formRemove">
                <input type="hidden" name="form_type" value="remove">
                <input type="submit" class="watchlist" value="Remove from Watchlist">
                </div>
            
            </form>

            </center>

            {% else %}

            <center>

            <form action="{% url 'oferta' auction.id %}" method="post">

                {% csrf_token %}
            
                <div id="formRemove">
                <input type="hidden" name="form_type" value="add">
                <input type="submit" class= "watchlist" value="Add to Watchlist">
                </div>
            
            </form>

            </center>

            {% endif %}

        </div>

        <div class="col-6">

            <form action="{% url 'oferta' auction.id %}" method="post">

                {% csrf_token %}
            
                <div id="formbid">
                <h5>Make a bid:</h5> 
                {{ formbid }} 
                <input type="hidden" name="form_type" value="bid">
                <input type="submit" class= "watchlist" value="Submit">
                </div>
            
            </form>

        </div>     
        
    </div>

    {% endif %}

    <div class="row rowauction">
        <div class="col-6">
            <center>
            {% if auction.image_url %}

                <img src="{{ auction.image_url }}" />
                       
            {% else %}

            <img src="/static/auctions/noimage.png" />
            
            {% endif %}

            </center>
        </div>

        <div class="col-6">
           <h5 id="description"> {{ auction.description }} </h5>
        </div>
    </div>


</div>


{% endblock %}